@import "../../../../assets/scss/mixins/vendor_prefixes.mixin.scss";
@import "../../../../assets/scss/variables/color.variable.scss";

.layout{
	@include flex(column);
	width: 100%;
	.topTab{
		// flex: ;
		@include flex(row);
		height: 50px;
    border-bottom: 0.5px solid $blue;
		padding: 0 10px;
		background: #e4e4e4;
		
		.addPeople{
			flex:1;
			@include flex(column);
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		.divider{
			border: 0.5px solid $blue;
			margin: 10px 0px;
		}
		.addGroup{
			flex:1;
			@include flex(column);
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
	.addView{
		flex: 1;
		overflow: auto;
		@include scrollBarStyle();
	}
	.searchBar{
		background: rgb(194, 194, 194);
		padding: 2px 15px;
		
	}
}