@import "../../../../assets/scss/variables/color.variable.scss";

.layout {
  position: relative;
  .uploadOverlay {
    width: 100%;
    position: absolute;
    z-index: 1;
		height: 100%;
		
		&:hover{
			div{
				display: flex
			}
		}

    div {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 30px;
      height: 30px;
      display: none;
      justify-content: center;
			align-items: center;
			cursor: pointer;
      i {
        color: #424f5f;
      }
    }
  }
}
