@import "../../../assets/scss/variables/main.variable.scss";
@import "../../../assets/scss/mixins/vendor_prefixes.mixin.scss";

$toogle-button-W-H: 35px;

.screenLayout {
  height: 100%;
  // margin-left: 25px;
  background: grey;
  position: relative;

  .leftPanel {
    position: absolute;
    background: #f3f6fa;
    top: 0;
    left: 0;
    height: 100%;
		width: $sideBarUserListWidth;
		overflow: auto;

		@include scrollBarStyle();
  }
  .rightPanel {
    transition: margin .3s linear;
    position: relative;
    background: #f5f7f8;
    height: 100%;
    box-shadow: 0px 0px 70px #726f6f;
  }
  .btn {
    width: $toogle-button-W-H;
    height: $toogle-button-W-H;
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    border-radius: 50%;
    position: absolute;
    left: -$toogle-button-W-H/2;
    z-index: 1;
    top: 53px;
  }
}
