@import "../../../../assets/scss/variables/color.variable.scss";
@import "../../../../assets/scss/variables/font_size.varible..scss";
@import "../../../../assets/scss/mixins/vendor_prefixes.mixin.scss";

.layout {
  button {
    padding: 10px 25px;
    margin: 10px 0;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-size: $s;
    font-family: ubuntu;
    cursor: pointer;
    border-radius: 3px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  .square {
    @include flex(row);
    padding: 4px;
    justify-content: center;
    align-items: center;
  }
  :focus {
    outline: none !important;
  }
  .primary {
    border: 1px solid $buttonColor;
    background: $buttonColor;
    color: $white;
  }
  .default {
    border: 1px solid $buttonColor;
    background: $white;
    color: $buttonColor;
  }
}
